@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap')

:root{
    --cor-do-fundo: #1e1e1e;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --BOTAO-ATIVO: #3A375E;
    --BOTAO-INATIVO: rgba(58, 55, 94, 0.5);
--TEXTO-FUNDO: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-do-fundo);
    color: var(--branco);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
