@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


:root{
    --cor-do-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-do-fundo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    height: 100vh;

}

.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 2em;
}

.botao {
    background-color: var(--botao-inativo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
    font-size: 24px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;    
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botoes {
    display: block;
}

.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
    .botao:first-child {
        border-radius: 40px 0 0 0;
    }
    .botao:last-child {
       border-radius: 0 40px 0 0; 
    }
}

